<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is a simple blog app for you to share your ideas with the rest of the world</p>
    <hr class="my-4">
    <p>Click the button to become a part of our comunity</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

 <div class="flex-grow-1 flex-shrink-0">

</div>