@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('writing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.js-botton {
 background-color: white;
}

#footer {
  position: static;
  bottom: 0;
  width: 100%;
  background: grey;
}

.page-content {
background-color: lightgrey;
}

html,
body {
  height: 100%;
}

body {
  background: lightgrey;
}

code {
  color: #665;
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
}